section.portfolio
  h2 Portfolio
  ul.portfolio__list
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/hashtag-helper_1x.jpg', srcset='images/hashtag-helper_1x.jpg 1x, images/hashtag-helper_2x.jpg 2x', alt='Hashtag Helper thumbnail')
        figcaption.portfolio__description 
          | Hashtag Helper
          span IOs App
          .portfolio__button-wrapper
            a.button.button--secondary Read More
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/hashtag-helper_1x.jpg', srcset='images/hashtag-helper_1x.jpg 1x, images/hashtag-helper_2x.jpg 2x', alt='Hashtag Helper thumbnail')
        figcaption.portfolio__description 
          | Hashtag Helper
          span IOs App
          .portfolio__button-wrapper
            a.button.button--secondary Read More
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/hashtag-helper_1x.jpg', srcset='images/hashtag-helper_1x.jpg 1x, images/hashtag-helper_2x.jpg 2x', alt='Hashtag Helper thumbnail')
        figcaption.portfolio__description 
          | Hashtag Helper
          span IOs App
          .portfolio__button-wrapper
            a.button.button--secondary Read More
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/hashtag-helper_1x.jpg', srcset='images/hashtag-helper_1x.jpg 1x, images/hashtag-helper_2x.jpg 2x', alt='Hashtag Helper thumbnail')
        figcaption.portfolio__description 
          | Hashtag Helper
          span IOs App
          .portfolio__button-wrapper
            a.button.button--secondary Read More
  
