section.portfolio
  h2 Portfolio
  ul.portfolio__list
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/hashtag-helper_1x.jpg', srcset='images/hashtag-helper_1x.jpg 1x, images/hashtag-helper_2x.jpg 2x', alt='Hashtag Helper thumbnail')
        figcaption.portfolio__description 
          | Hashtag Helper
          span IOs App
          .portfolio__button-wrapper
            a.button.button--secondary Read More
    
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/monster-crusher_1x.jpg', srcset='images/monster-crusher_1x.jpg 1x, images/monster-crusher_2x.jpg 2x', alt='Monster Crusher thumbnail')
        figcaption.portfolio__description 
          | Monster Crusher
          span Android Game
          .portfolio__button-wrapper
            a.button.button--secondary Read More
    
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/revolution_1x.jpg', srcset='images/revolution_1x.jpg 1x, images/revolution_2x.jpg 2x', alt='Revolution thumbnail')
        figcaption.portfolio__description 
          | Revolution
          span Android/ IOs Game
          .portfolio__button-wrapper
            a.button.button--secondary Read More
    
    li.portfolio__item 
      figure.portfolio__image-wrapper
        img.image-item( src='images/opencompass_1x.jpg', srcset='images/opencompass_1x.jpg 1x, images/opencompass_2x.jpg 2x', alt='The Open Compass thumbnail')
        figcaption.portfolio__description 
          | The Open Compass
          span Website
          .portfolio__button-wrapper
            a.button.button--secondary Read More
  
