.portfolio {
  @include outer-container;

  &__list {
    list-style: none;
    padding: 0;
  }

  &__button-wrapper { @include span-columns(12 of 12); }

  &__item {
    @include span-columns(4 of 12);
    margin-bottom: 3vh;
    position: relative;

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega();
      @include pad();
    }
    @include media($mobile) { @include span-columns(12 of 12); }

    @include media($medium-screen-up) {
      &:first-child {
        @include span-columns(12 of 12);

        .portfolio__text {
          @include span-columns(8 of 12);
          @include shift(2);
        }

        .image-item {
          margin-left: 0;
          height: auto;
          width: 100%;
        }
      }
    }
  }

  &__description {
    @include transition(all .5s ease-in-out);
    @include background-image(linear-gradient(to right, rgba(#158DC6, .85), rgba(#B4EC51, .85)));
    bottom: -290px;
    color: $white;
    font-size: rem(20);
    height: 350px;
    left: 0px;
    padding: rem(18);
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none;

    .portfolio__category {
      @include span-columns(12 of 12);
      margin: rem(50) 0  rem(20) 0;
    }
  }

  &__text {
    @include span-columns(12 of 12);
    font-size: rem(12);
  }

  &__image-wrapper {
    @include background-image(linear-gradient(to right, rgba(#158DC6, 1), rgba(#B4EC51, 1)));
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
  	margin-bottom: 20px;

    &:hover .image-item{
    	@include transition(all .5s ease-in-out);
      @include filter(blur(5px));
      @include transform(scale(1.1));
    }

    &:hover .portfolio__description {
    	@include transition(all .5s ease-in-out);
    	bottom: 0px;
    	height: 350px;
    }

    .image-item {
    	@include transition(all .5s ease-in-out);
    	top: 0px;
      display: block;
      min-height: 100%;
      min-width: 100%;
      height: 100%;
      @include media($medium-screen-up) {
        margin-left: -27%;
      }
    }
  }
}
